@import "tailwindcss";
/* in your global CSS or index.css */
html {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
input,
textarea {
  outline: none;
}
